<div class="project">
    <button class= "up-btn">
        <div>
            ꕔ
        </div>
        <div>3</div>
    </button>
    <a href="" class = "idea">
        <div class="idea-top">
          <h5> 3d autonomous building game </h5>
          <small class = "small"> 05/06/2021</small>
        </div>
        <p class="idea-content">
         Create a 3d environment with physics, terrain, etc Provide users with a restricted set of parts that can be combined in certain ways and that have certain properties (for example, a rocket that continually outputs force or a rotating wheel or a sail that has drag) Have some objective, like getting to a finish line ...
        </p>
        <small class="idea-end small">By Auther</small>
    </a>
</div>
